[Unit]
Description=A spotify playing daemon
Documentation=https://github.com/librespot-org/librespot
Wants=sound.target
After=sound.target
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/home/zoe/builds/librespot/target/release/librespot -n "Hifiberry" -b 320 -c ./cache --initial-volume 70 --device-type avr --zeroconf-port 1234
Restart=always
RestartSec=12

[Install]
WantedBy=default.target

